@model IEnumerable<Racooter.DataTransferObjects.Announcement.AnnouncementDto>
@{ 
    int count = 1;
}
<div class="col-md-12 text-center">
    <img src="~/pictures/announceGear.jpg" style="height: 180px; display: block; margin-left: auto;margin-right: auto;" /><br />
    
    <div class="row" style="margin-top:20px;">
        <table class="table table-borderless" id="AnnouncementsGrid">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Views</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Title</td>
                        <td>@item.UserName</td>
                        <td>@item.Price</td>
                        <td>@item.CategoryString</td>
                        <td>@item.CreatedDate.ToString("MMMM dd, yyyy, hh:mm")</td>
                        <td>@(item.IsApprovedByAdmin ? "Approved" : "Pending Approval")</td>
                        <td>@item.Views</td>
                        <td>
                            <a href="/Announcements/Announcement?Id=@item.AnnouncementId">
                                <i class="fa fa-eye"></i>
                            </a>
                            |
                            <a href="/Announcements/AddUpdate?Id=@item.AnnouncementId">
                                <i class="fa fa-pencil-square-o"></i>
                                i
                            </a>                            
                                <span>
                                    |
                                    <a href="/Announcements/Delete?id=@item.AnnouncementId">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </span>
                            
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AnnouncementsGrid').DataTable();
    })
</script>